{
  "fhirBaseUrl": "${FHIRENDPOINT_URI}",
  "authIssuer": "${ISSUER_URI}",
  "clientId": "${CLIENT_ID}",
  "clientSecret": "${CLIENT_SECRET}",
  "scopes": "${SCOPES}",
  "skipIssuerCheck": "${SKIP_ISSUER_CHECK}"
}
